In [10]:
import pandas as pd 
import pyarrow as pa
import pyarrow.parquet as pq
from sas7bdat import SAS7BDAT
import platform
import pyreadstat
import numpy as np

In [12]:
x=pd.read_sas("C:\\Project\\Individual_Profile\\Education\\na_dir_profile_education.sas7bdat")

In [13]:
x

,DIRECTORID,DIRECTORNAME,COMPANYID,COMPANYNAME,AWARDDATE,QUALIFICATION,FULLTEXTDESCRIPTION
0,1783455.0,b'\x1aenol Bircan',1551404.0,b'TH K\xf6ln - University of Applies Sciences ...,NaT,b'BS',NaN
1,1783455.0,b'\x1aenol Bircan',1551404.0,b'TH K\xf6ln - University of Applies Sciences ...,1991-01-01,b'Masters Degree',NaN
2,1913532.0,b'\x1alker Vural',2679771.0,b'International Well Control Forum (IWCF) (The...,NaT,b'Certificate',NaN
3,1913532.0,b'\x1alker Vural',587391.0,b'Middle East Technical University (METU)',2002-01-01,b'BSc',NaN
4,1343972.0,b'\x1apek \xd6zkan',61424.0,b'New York University (NYU)',2001-01-01,b'MBA',NaN
...,...,...,...,...,...,...,...
1375336,1088891.0,b'\xdalfar Steind\xf3rsson',62862.0,b'Virginia Commonwealth University',1988-01-01,b'MBA',NaN
1375337,1094972.0,b'\xdcmit Suba\x1a\x1a',864762.0,b'Anadolu University',1991-01-01,b'Degree',NaN
1375338,1094972.0,b'\xdcmit Suba\x1a\x1a',60651.0,"b""Institut Europeen d'Administration des Affai...",1997-01-01,b'Postgraduate Studies',NaN
1375339,1094972.0,b'\xdcmit Suba\x1a\x1a',1292540.0,b'Istanbul University',1989-01-01,b'Studied',NaN
1375340,1094972.0,b'\xdcmit Suba\x1a\x1a',63318.0,b'Universit\xe9 de Paris (University of Paris)',NaT,b'Studied',NaN

In [1]:
for i in range(1,5):
    for j in range(i):
        print(j,end=' ')
    print()
for i in range(5,1,-1):
    for j in range(i):
        print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3
0 1 2
0 1